/*Html font-size=16px*/
/*1 REM=16px*/
html{         
	font-size:62.5%;       /*j'ai modifié le font-size html => font-size=10px,  en pourcentage ça donne 10/16=0.625=62.5% */
}

/*Définition des polices personnalisées*/
@font-face
{
	font-family: 'Raleway-SemiBold';
    src:url('polices/Raleway-SemiBold.ttf') format('truetype');
}

@font-face
{
	font-family: 'Raleway-Light';
		src:url('polices/Raleway-Light.ttf') format('truetype');
}

body
{
	background: white;
	font-family: 'Raleway-SemiBold';
	color: #181818;
	margin: 0;
}

/*Header*/
header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 3%;
	padding-top: 1%;

}


#nav
{
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	margin: 0;
	align-items: center;
	justify-content: center;
}

#inscription a
{
	color: #0065FC;
	font-weight: bold;
	font-size: 1.7rem;

}


.navigation
{
	font-family: 'Raleway-Light';
	font-weight: normal;
	margin-right: 7rem;
	font-size: 1.7rem;
}

.navigation a:hover, #inscription a:hover
{
	color:#0065FC;
	border-top: 0.25rem solid #0065FC;
	padding-top: 2.3rem;
	font-weight: bold;
}

nav ul
{
	list-style-type: none;
	display:flex;
}

nav a
{
	color: #181818;
	text-decoration: none;
}

/*Section*/
main
{
	margin: 3%;
}

h1, h2
{
	font-size:2.4rem;
}

h3
{
	font-family: 'Raleway-SemiBold';	
	margin: 0;

}

#premier_paragraphe, #info
{
	font-family: 'Raleway-Light';
	font-size: 1.5rem;
	font-weight: bold;
}
section p /*polices des paragraphes*/
{
	font-family: 'Raleway-Light';
	font-weight: bold;
}

#section_filtres
{
	line-height: 2rem;
}

 .fa-map-marker-alt  /*mapmarker*/
{
	padding: 1.6rem;
	background-color: #F2F2F2;
	border-radius: 1.5rem 0rem 0rem 1.5rem;
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

#lieu  /*La zone de texte du formulaire (Marseille, France) */
{
	font-family: 'Raleway-SemiBold';
	border-top: 0.1rem solid #f2f2f2 ;
    border-bottom:0.1rem  solid #f2f2f2;
    border-left: none;
    border-right: none;
	padding-left: 0.5rem;
	font-size: initial;

}

.search    /*bouton bleu Recherche*/
{
	background-color: #0065FC;
	font-size: 1.6rem;
	color: white;
	border: none;
	border-radius: 0rem 1.5rem 1.5rem 0rem;
	padding: 1.7rem 1.9rem 1.7rem 1.9rem;
}
.search:hover
{
	transition-duration: 0.2s;
	cursor: pointer;
	box-shadow: 0.3rem 0.2rem 0.3rem 0.2rem grey;
}
#loupe
{
	display: none;
}

/*formulaire de la barre de recherche; contenant mapmarker, zone de texte et le bouton de recherche bleu*/
form
{
	display: inline-flex;
	height: 5rem;
}


#filtres a, #hebergements a, #populaires a, #activites a  /*couleur noire pour tt les liens + enlever les soulignements*/
{
	color: #181818;
	text-decoration: none;
}
 #filtres
 {
	display: flex;
	align-items: center;
	margin-top: 2.5rem;
 }

 #filtres div
 {
	 display: flex;
	 flex-wrap: wrap;
	 line-height: 2.4rem;
 }

#filtres button
{
	margin-left: 1.3rem;
	margin-bottom: 0.5rem;
	border: 0.2rem solid #F2F2F2;
	border-radius: 5rem;
	background-color: white;
	font-weight: bold;
	width: auto;
	height: auto;
	padding-right: 1rem;
}
.filter
{
	display: inline-flex;
	align-items: center;
	padding: 0;

}

#filtres div
{
	display: flex;
}

#filtres i /* Icons: economical family romantic animals */
{
	color: #0065FC;
	border: 0.2rem solid #DEEBFF;
	border-radius: 5rem;
	padding: 1.2rem;
	background-color: #DEEBFF;
	margin-right: 1rem;

}

#filtres button:hover
{
	background-color: #DEEBFF;
}

#info i     /*icone info en dessous des filtres*/ 
{
	color: #0065FC;
	background-color: white;
	border: 0.2rem solid #c4c1c1;
	border-radius: 4rem;
	padding: 0.4rem 0.9rem;
	margin-right: 1.2rem;

}

#sections_hebergements  /*aligner section hébergements et la section 'les plus populaires'*/
{
	display: flex; 
	justify-content: space-between;
	height: auto;
	width: 100%;
	margin-top: 2.5vw;
}
#hebergements p, #populaires p
{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}


#populaires /*marge entre la section hébergements et Les plus populaires*/
{
	width: 37%;
	background-color: #F2F2F2;
	border-radius: 1rem;

}

#titre_graph+div
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


#titre_graph /*Titre "Les plus populaires" + icone */
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Raleway-SemiBold';
	font-size: 2rem;
	padding-top: 1.4rem;
}

#populaires figcaption
{
	width: 45%;
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: left;
	font-size: 1.24rem;
}


#populaires img
{
	object-fit:cover;
	height:100%;
	width: 35%;
	border-radius: 1.7rem 0 0 1.7rem;
	float: left;
	padding-right: 1rem;
}

#populaires .bouton_image 
{
	display: inline-block;
	border-radius: 2rem;
	width: 80%;
	height: 13rem;
	padding:0.4rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	background-color: white;
	box-shadow: 0 0 16px #0000002e;
}


#populaires figure
{
	border-radius: 1.5rem;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

button:hover
{
	color:#0065FC;
	transition-duration: 0.2s;
	cursor: pointer;
	box-shadow: 0.3rem 0.2rem 0.3rem 0.2rem grey;
}

.bouton_image:hover, #grille div:hover
{
	color:#0065FC;
	transition-duration: 0.3s;
	cursor: pointer;
	box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem grey;
	transform: scale(1.05);

}

.blue_star  /*Etoile evaluation hébergemnts*/
{
	color:#0065FC;
}

.grey_star  /*Etoile évalution hébergemnts*/
{
	color:#d5d1d1;
}

#activites
{
	height: auto;
	width: 100%;
}

#grille
{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 22%);
	grid-template-rows: 19.7rem 4rem 4.3rem 16.5rem;
	column-gap: 4%;
	position: relative;
}

#b1        /*items grid*/
{
	grid-row: 1/5;
	grid-column: 1/2;
}
#b2
{
	grid-row: 1/3;
	grid-column: 2/3;
}
#b3
{
	grid-row: 4/5;
	grid-column: 2/3;
}
#b4
{
	grid-area: 1/3/5/4;
}
#b5
{
	grid-row:1/2;
	grid-column:4/5;
}
#b6
{
	grid-row: 3/5;
	grid-column: 4/5;
}

#grille div                           
{
	background-color: white;
	border: none;
	border-radius: 2rem;
	padding: 0;
	box-shadow: 0 0 1.6rem #0000002e;
	width: 100%;
	height: auto;
}

#grille figure
{
	border-radius: 2rem;
	margin: 0;
	height: 100%;
}

#grille img
{
	object-fit: cover;
	width: 100%;
	height: calc(100% - 5.6rem);
	border-radius: 2rem 2rem 0 0;
}



#activites figcaption
{
	border-radius: 2rem;
	height:5.7rem;
	padding-top: 1rem;
	padding-left: 1rem;
}

/*Footer */

footer 
{
	display: flex;
	background: #F2F2F2;
	width: 100%;
	height: auto;
	font-size: large;
	padding-bottom: 3rem;
    padding-top: 4rem;
	margin:0;
}

footer ul
{
	list-style-type: none;
	padding: 0;
	line-height: 3rem;

}
footer div
{
	margin-right: 10%;
    margin-left: 4%;
}

footer a
{
	font-family: 'Raleway-Light';
	font-weight: normal;
	text-decoration: none;
	color: #181818;
}

footer a:hover
{
	color: #0065FC;
}

@media all and (max-width: 767px){

#bloc_page
{
	width: auto;
	margin:0;
}
header
{
	width: 100%;
	height: 8.9rem;
	margin:0;
	padding: 0;
	position: fixed;
	top:0;
	background-color: white;
	border-bottom: 0.3rem solid #F2F2F2;
	z-index: 1;
}

#nav
{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5rem 5rem;
	margin: 0;

}

#section_filtres h1
{
	margin-top: 0;
	padding-top: 4rem;
	padding-right: 2rem;
	line-height: 2.4rem;
}
.navigation 
{
	width: 100%;
	margin: 0;
	text-align: center;
}
.navigation a:hover
{
	padding:0;
}

.navigation:hover 
{
	color: #0065FC;
	border-bottom: 0.3rem solid #0065FC;
	padding-bottom: 1rem;
}

.navigation a:hover, #inscription a:hover
{
	border-top: none;
}

#inscription a:hover
{
	border-bottom: 0.3rem solid #0065FC;
}
#logo_reservia
{
	grid-row: 1/2;
	grid-column: 1/2;
	padding:5%;
}

#inscription
{
	grid-row: 1/2;
	grid-column:2/3;
	text-align: right;
	padding: 10%;
	margin-right: 10%;
}
main 
{
	margin: 7rem  0 5rem 0;
}

#premier_paragraphe
{
	margin-top: 0;
}
 .search    
{
	display: none;
}

#loupe
{
	display: flex;
    align-items: center;
	justify-content: center;
    width: 20%;
    border-radius: 1.5rem;
    font-size: 1.5rem;
	background-color: #0065FC;
	border:none;
	color: white;
}

#loupe i
{
	background-color: transparent;
}

#section_filtres
{
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

#filtres
{
	flex-direction: column;
	align-items: flex-start;
	margin-top: 0.5rem;
	padding-right: 5rem;
}

#filtres h3
{
	margin-bottom: 0.5rem;
}
#filtres button 
{
	margin-left:0;
}


#titre_graph
{
	justify-content: flex-start;
	padding-right: 2rem;
}

#populaires h2
{
	padding-left:2rem;
	padding-right: 5rem;
}

.hebergements
{
	grid-row: 2/3;
	grid-column: 1/2;
}

.activites
{
	grid-row:2/3;
	grid-column: 2/3;
}

#sections_hebergements
{
	flex-direction: column-reverse;
}

#populaires, #hebergements, #activites
{
	width: 100%;
	height: auto;
}

#grille
{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
#grille div
{
	margin:1.5rem;
	height: 20rem;
	width: 100%;
}
#populaires .bouton_image, #hebergements .bouton_image, #grille div
{
	height: 20rem;
	width: 90%;
}

#hebergements, #activites 
{
	margin:0;
	background: none;
}

footer 
{
	flex-direction: column;
}
}

@media all and (min-width: 767px) and (max-width: 991px){

header
{
	margin-top:1rem;
}

main {
	width: 100%;
	margin: 0;
	padding: 0;
}

#section_filtres
{
	margin-left: 2rem;
}

#populaires
{
	width: 95%;
	padding-bottom: 3rem;
	margin-bottom: 2rem;
}

#hebergements 
{
	width: 95%;
	margin-bottom: 2rem;
	margin-right: 0;
}

#sections_hebergements
{
	flex-direction: column-reverse;
	align-items: center;
	width: calc(100% - 2rem);
	margin: 0 auto;
	padding-right: 1rem;
	padding-left: 1rem;
}

#titre_graph
{
	justify-content: flex-start;
	margin-left: 2rem;
}

#populaires h2
{
	margin-right: 6rem;
}

#titre_graph+div
{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

 #populaires .bouton_image
 {
	width: 30vw;
    height: 23vw;
	margin: 1.5%;
 }

#populaires figcaption
{
	width: 100%;
	height: 43%;
	font-size: 1.2rem;
	line-height: 2rem;
	padding-top: 0.5rem;
	padding-left:0.5rem;
}

#populaires img
{
	height:55%;
	width: 100%;
	border-radius: 1.7rem 1.7rem 0 0;
}

#populaires p
{
	margin: 0;
}

#grille
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: calc(100% - 2rem);
	margin: 1rem;
}

#grille  div
{
	width: 43%;
	height: 25rem;
	margin-bottom:3.5%;
}

#activites 
{
	margin
}

#activites h2 
{
	margin-left:3rem;
}

footer div
{
	margin-right: 4%;
}
}

